<div class="bg-lightGrayishCyan flex flex-col justify-center md:h-screen ">
<header>
  <div class="bg-lightGrayishCyan text-center text-darkGrayishCyan text-2xl tracking-[0.4em] py-12 md:py-20 md:-mt-36">
    <h1>
      SPLI
    </h1>
    <div>
      TTER
    </div>
  </div>
</header>
<main class="container mx-auto bg-lightGrayishCyan flex justify-center items-center">
  <!-- style guide: max-w-[375px] md:max-w-[925px] -->
  <div class="bg-white p-8 rounded-t-3xl grid gap-8 grid-cols-1 md:grid-cols-2 md:rounded-3xl md:px-12 md:gap-12 md:w-[925px]">
    <!-- mobile:top desktop:left -- input values-->
    <div>
      <!-- bill input -->
      <div class="mb-8">
      <app-input 
        [label]=" 'Bill' "
        [(inputValue)]="billAmount"
        [iconUrl]=" 'assets/images/icon-dollar.svg' "
        [isCurrency]="true"
      /></div>
      
      <!-- select tip % -->
      
      <div class="mb-8"><app-select-tip 
        [(tipPercent)]="tipPercent" 
        [customTipPercent]="customTipPercent"
      /></div>

      <!-- number of people -->
      <app-input 
        [label]=" 'Number of People' "
        [(inputValue)]="countPeople"
        [iconUrl]=" 'assets/images/icon-person.svg' "
        [zeroIsInvalid]="true"
      />
    </div>
  
    <!-- mobile: bottom desktop: right -- calculated values -->
    <app-per-person-card
        [tipAmount]="calcTipAmount()"
        [totalAmount]="calcTotalAmount()"
        (resetEvent)="onReset()"
    />
  </div>
</main>
<footer class="hidden p-10 bg-yellow-200">
  <!-- for debugging -->
  <div>
    <div>People {{ countPeople }}</div>
    <div>Bill Amount {{ billAmount }}</div>
    <div>Tip Percent {{ tipPercent }}%</div>
  </div>
</footer>
</div>