<main class="flex flex-col gap-10 p-20 md:flex-row">
  <!-- left panel -->
  <div>
    <h1>SPLITTER</h1>
    <!-- bill -->
    <div>
      <label for="bill">Bill</label>
      <input
        [value]="billAmount"
        (input)="onChangeBill($event)"
        name="bill"
        type="text"
      />
    </div>
    <!-- select tip % -->
    <div>
      <h2>Select Tip %</h2>
      <div>
        <ul>
          <li [class.bg-yellow-100]="tipPercent == 5">
            <a (click)="onChangeTip(5)" href="#">5%</a>
          </li>
          <li [class.bg-yellow-100]="tipPercent == 10">
            <a (click)="onChangeTip(10)" href="#">10%</a>
          </li>
          <li [class.bg-yellow-100]="tipPercent == 15">
            <a (click)="onChangeTip(15)" href="#">15%</a>
          </li>
          <li [class.bg-yellow-100]="tipPercent == 25">
            <a (click)="onChangeTip(25)" href="#">25%</a>
          </li>
          <li [class.bg-yellow-100]="tipPercent == 50">
            <a (click)="onChangeTip(50)" href="#">50%</a>
          </li>
          <li *ngIf="!showCustomInput">
            <a (click)="setShowCustomInput(true)" href="#">Custom</a>
          </li>
          <li *ngIf="showCustomInput">
            <input
              [value]="customTipPercent"
              (input)="onChangeCustomTip($event)"
              type="number"
            />
          </li>
        </ul>
      </div>
      <!-- number of people -->
      <div>
        <label for="count-people">Number of People</label>
        <input
          [value]="countPeople"
          (input)="onChangePeople($event)"
          name="count-people"
          type="number"
        />
      </div>
    </div>
  </div>
  <!-- calculated values -->
  <div class="p-10 bg-green-300">
    <div>
      <div>
        <h2>Tip Amount</h2>
        <p>/ person</p>
      </div>
      <div>{{ calcTipAmount() }}</div>
    </div>
    <div>
      <div>
        <h2>Total</h2>
        <p>/ person</p>
      </div>
      <div>{{ calcTotalAmount() }}</div>
    </div>
    <button>RESET</button>
    <div>People {{ countPeople }}</div>
    <div>Bill Amount {{ billAmount }}</div>
    <div>Tip Percent {{ tipPercent }}%</div>
  </div>
</main>
