<main class="flex flex-col max-w-[375px] mx-auto shadow p-6">
  <!-- left panel -->

  <h1 class="text-center text-darkGrayishCyan text-2xl tracking-[0.4em] py-12">
    SPLITTER
  </h1>
  <div class="bg-white">
    <!-- bill -->
    <div class="flex flex-col  mb-9">
      <label class="text-darkGrayishCyan mb-1" for="bill">Bill</label>
      <input
        class="bg-veryLightGrayishCyan text-2xl text-right text-veryDarkCyan px-4 py-2 rounded-md"
        [value]="billAmount"
        (input)="onChangeBill($event)"
        name="bill"
        type="text"
      />
    </div>
    <!-- select tip % -->
    <!-- candidate for turning into subcomponent -->
    <div>
      <h2 class="text-darkGrayishCyan mb-3">Select Tip %</h2>
      <div class="mb-9">
        <ul class="grid grid-cols-2 gap-4 text-center text-veryDarkCyan">
          <li 
            class="py-2 text-white text-2xl rounded-md hover:cursor-pointer" 
            [class.bg-veryDarkCyan]="tipPercent != 5" [class.bg-strongCyan]="tipPercent == 5" [class.text-veryDarkCyan]="tipPercent == 5"
            (click)="onChangeTip(5)"
          >
            5%
          </li>
          <li 
            class="py-2 text-white text-2xl rounded-md hover:cursor-pointer"   
            [class.bg-veryDarkCyan]="tipPercent != 10" [class.bg-strongCyan]="tipPercent == 10" [class.bg-strongCyan]="tipPercent == 10"
            (click)="onChangeTip(10)"
          >
            10%
          </li>
          <li 
            class="py-2 text-white text-2xl rounded-md hover:cursor-pointer" 
            [class.bg-veryDarkCyan]="tipPercent != 15" [class.bg-strongCyan]="tipPercent == 15" [class.bg-strongCyan]="tipPercent == 15"
            (click)="onChangeTip(15)"
          >
            15%
          </li>
          <li 
            class="py-2 text-white text-2xl rounded-md hover:cursor-pointer" 
            [class.bg-veryDarkCyan]="tipPercent != 25" [class.bg-strongCyan]="tipPercent == 25" [class.bg-strongCyan]="tipPercent == 25"
            (click)="onChangeTip(25)"
          >
            25%
          </li>
          <li 
            class="py-2 text-white text-2xl rounded-md hover:cursor-pointer" 
            [class.bg-veryDarkCyan]="tipPercent != 50" [class.bg-strongCyan]="tipPercent == 50"   [class.bg-strongCyan]="tipPercent == 50"
            (click)="onChangeTip(50)"
          >
            50%
          </li>
          <li 
            *ngIf="!showCustomInput"
            class="py-2 bg-veryDarkCyan text-white text-2xl rounded-md hover:cursor-pointer" 
            (click)="setShowCustomInput(true)"
          >
            Custom
          </li>
          <input 
            *ngIf="showCustomInput"
            class="py-2 text-veryDarkCyan text-right text-2xl pr-3 rounded-md hover:cursor-pointer" 
              [value]="customTipPercent"
              (input)="onChangeCustomTip($event)"
              type="text"
          />
        </ul>
      </div>
      <!-- number of people -->
      <div class="mb-9">
        <label  class="text-darkGrayishCyan mb-1" for="count-people">Number of People</label>
        <input
          class="bg-veryLightGrayishCyan text-2xl text-right text-veryDarkCyan px-4 py-2 rounded-md"
          [value]="countPeople"
          (input)="onChangePeople($event)"
          name="count-people"
          type="number"
        />
      </div>
    </div>
  </div>
  <!-- calculated values -->
  <app-per-person-card
    [tipAmount]="calcTipAmount()"
    [totalAmount]="calcTotalAmount()"
  />
  <!-- for debugging -->
  <div class="hidden p-10 bg-yellow-200">
    <div>People {{ countPeople }}</div>
    <div>Bill Amount {{ billAmount }}</div>
    <div>Tip Percent {{ tipPercent }}%</div>
  </div>
</main>
